.about-school {
    display: flex;
    flex-direction: row;
    padding: 0 2em;
    .about-school-left {
        width: 40%;
        padding: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
        .logo {
            display: flex;
            flex-direction: column;
            gap: 2em;
            justify-content: center;
            align-items: center;
            border: 2px solid var(--important-color);
            border-radius: 50%;
            width: 70%;
            height: 70%;
            .logo-svg {
                color: var(--important-color);
                font-weight: bolder;
                font-size: 1.2em;
                b {
                    color: var(--text-color);
                }
                svg {
                    color: #f5d106;
                    font-size: 5em;
                }
            }
        }
        .enlightment {
            color: var(--text-color);
            font-weight: bold;
            span {
                color: var(--important-color);
            }
        }
    }
    .about-school-right {
        width: 60%;
        padding: 2em;
        display: flex;
        gap: .3em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2 {
            color: var(--important-color);
            margin-bottom: 1.5em;
        }
        p {
            letter-spacing: 1px;
            color: var(--text-light);
            line-height: 125%;
            font-weight: 500;
            font-size: 1em;
        }
    }
}