.Achievements {
    display: flex;
    flex-direction: column;
    padding: 2em;
    justify-content: center;
    align-items: center;
    .students-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 2em;
        width: 100%;
        .text-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1em;
            padding: 1em;
            p {
                border-left: 3px solid var(--important-color);
                padding: .5em;
                color: var(--text-light);
                animation: animationDelay(1s) slideToLeft forwards;
                &:nth-child(1) {
                    animation-duration: .1s;
                }
                &:nth-child(2) {
                    animation-duration: .2s;
                }
                &:nth-child(3) {
                    animation-duration: .3s;
                }
                &:nth-child(4) {
                    animation-duration: .4s;
                }
                &:nth-child(5) {
                    animation-duration: .5s;
                }
            }
        }
    }
    .title {
        color: var(--important-color);
        font-weight: bold;
    }
}