.AchievementsText {
    padding: 2em;
    width: 100%;
    .text-container {
        display: flex;
        flex-direction: row;
        .div {
            width: 362px;
            height: 300px;
            margin-right: 1em;
            padding: 1em;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 1px solid var(--text-light);
            animation: animationDelay(.5s) slideToLeft forwards;
            &:nth-child(1) {
                animation-duration: .4s;
            }
            &:nth-child(2) {
                animation-duration: .6s;
            }
            &:nth-child(3) {
                animation-duration: .8s;
            }
            &:nth-child(4) {
                animation-duration: 1s;
            }
            &:hover {
                background-color: var(--important-color);
                transition: 1s;
                color: white;
            }
        }
    }
}